/* 모바일 */
@media (min-width:350px) and (max-width: 420px){
  * {
    background-color: #ffe0bf;
  }
  .index-img{
    width: 80%;
    height: auto;
    border-radius: 30px;
  }
  .title-highlight{
    color: red;
  }
  .index-btn {
    background-color: black;
    color: white;
    width: 80%;
    height: 4rem;
    border-radius: 30px;
  }
  .move_ani {
    position: relative;
    animation: fadeInUp 1s;
  }

  @-webkit-keyframes fadeInUp {
    0%{
        transform: translate3d(0, 40%, 0);
      opacity:0;

    }
    to{
        transform: translate3d(0,0%,0);
      opacity:1;

    }
  }

  .bible_title{
    -webkit-animation: 1.5s ease 0s normal forwards 1 fadein;
    animation: 1.5s ease 0s normal forwards 1 fadein;
  }

  @keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
  }
  
  @-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
  }
}

/* 데스크탑 */
@media (min-width: 420px){

  * {
      background-color: #ffe0bf;
  }

  .title-highlight {
      color: #B70048;
  }
  .index-img {
      width: 40%;
      height: auto;
      border-radius: 30px;
  }
  .index-btn {
      background-color: black;
      color: white;
      width: 40%;
      height: 4rem;
      border-radius: 30px;
  }

  .move_ani {
    position: relative;
    animation: fadeInUp 1s;
  }

  @-webkit-keyframes fadeInUp {
    0%{
        transform: translate3d(0, 40%, 0);
      opacity:0;

    }
    to{
        transform: translate3d(0,0%,0);
      opacity:1;

    }
  }

  .bible_title{
    -webkit-animation: 1.5s ease 0s normal forwards 1 fadein;
    animation: 1.5s ease 0s normal forwards 1 fadein;
  }

  @keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
  }
  
  @-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
  }
}