.title-highlight {
    color: #B70048;
}
body{
    background-color: #ffe0bf;
}



/* 모바일 */
@media (min-width:350px) and (max-width: 420px){

    /* 데이터 완성되면 넣어보기 */
    .resultimg {
        width: 60%;
    }
    .restart-btn {
        /* border: 4px solid black; */
        background-color: black;
        color: white;
        border-radius: 15px;
        width: 50%;
        padding: 20px;
        /* font-size: 25px; */
    }
    /* .restart-btn:hover{
        backgrou dnd-color: white;
        color: black;
    } */
    .p_highlight{
        color: #B70048;
        font-size:15px;
        font-weight:1000;
    }

    .good_bad{
        width:160px;
        height:140px;
        margin-left:2px;
        margin-right:2px;
    }
    .personality{
       font-size:14px;
        
    }
    .good_bad_font{
        font-size:15px;
        
    }
    .end_t{
        font-size:14px;
    }
  

   

    
}
/* 데스크탑 */
@media (min-width: 420px){
    .restart-btn {
        /* border: 4px solid black; */
        background-color: black;
        color: white;
        border-radius: 15px;
        width: 30%;
        padding: 20px;
        /* font-size: 25px; */
    }
    .restart-btn:hover{
        background-color: white;
        color: black;
    }

    .personality{
       
        
    }
    .p_highlight{
        color: #B70048; 
        font-size:40px;
        
    }

    .line_under {
        background-color: #B70048; 
        border:0;
        height:2px;
        width:54%;
        margin-left : auto;
        margin-right : auto;

    }
    .good_bad{
        width:320px;
        height:280px;
        
    }
    .good_bad_font{
        font-size:20px;
        
    }
    .p_highlight_2{
         
        font-size:30px;
        
    }
}



