/* 모바일 */
@media (min-width:350px) and (max-width: 420px){

    /* 데이터 완성되면 넣어보기 */
    .restart-btn {
        /* border: 4px solid black; */
        background-color: black;
        color: white;
        border-radius: 15px;
        width: 30%;
        padding: 20px;
        /* font-size: 25px; */
    }
    .restart-btn:hover{
        background-color: white;
        color: black;
    }
}
/* 데스크탑 */
@media (min-width: 420px){
    .restart-btn {
        /* border: 4px solid black; */
        background-color: black;
        color: white;
        border-radius: 15px;
        width: 30%;
        padding: 20px;
        /* font-size: 25px; */
    }
    .restart-btn:hover{
        background-color: white;
        color: black;
    }
}