{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <section id="main">
    <div class="d-flex row text-center justify-content-center">
      <h1 class="index-title my-5">나와
        <span class="title-highlight">닮은</span>
        성경 인물 테스트</h1>
      <img class="index-img my-2" src="{% static 'images/index_img.png' %}" alt="index page img">
      <div>
        <button class="index-btn my-5" type="button" onclick="js:begin()">시작하기</button>
      </div>
    </div>
  </section>
  <section id="qna">
    <div class="progress mx-auto mt-5">
      <div class="progress-bar" role="progressbar" aria-label="Basic example" style="background-color: #B70048; border-radius: 20px" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="qBox"></div>
    <div class="answerBox"></div>
  </section>
  <section id="result">
    <div class="d-flex row text-center justify-content-center">
      <h1 class="index-title my-5">당신의
        <span class="title-highlight">결과</span>
        는?</h1>
      <div class="resultname"></div>
      <img class="index-img my-2" src="{% static 'images/index_img.png' %}" alt="index page img">
      <div class="resultDesc"></div>
      <div>
        <button class="index-btn my-5" type="button">공유하기</button>
      </div>
    </div>
  </section>

  <script src="{% static 'js/data.js' %}"></script>
  <script src="{% static 'js/start.js' %}"></script>
{% endblock content %}