{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% block content %}
  <div class="container text-center">
    <div id="question">{{ question }}</div>
    <button type="button" class="choice" id="choice1" value="{{question_pk}}">{{ question_ans1 }}</button>
    <button type="button" class="choice" id="choice2" value="{{question_pk}}">{{ question_ans2 }}</button>
    <button type="button" id="change_color">change</button>
  </div>
{% endblock content %}
{% comment %} <script src="{% static 'js/test.js' %}"></script> {% endcomment %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script>
  $('#change_color').click(function () {
    var pk = $('.choice').val()
    console.log(pk)
    $.ajax({
      url: '/nextpage/',
      dataType: "json",
      type: "POST",
      data: {
        'pk': pk
      },
      success: function (data) {
        console.log(data)
        $('#question').text(data['question'])
        $('#choice1').text(data['question_ans1'])
        $('#choice1').attr('value', data['question_pk'])
        $('#choice2').text(data['question_ans2'])
        $('#choice2').attr('value', data['question_pk'])
        alert('succeeded!')
      },
      error: function (request, status, error) {
        console.log('failed');
        console.log(request)
        console.log(status)
        console.log(error)
      }
    });
    //$('.choice1').text(question_ans1)
    //$('.choice2').text(question_ans2)
  })
</script>